@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: all .2s linear;
   text-transform: capitalize;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
}

body{
   background: #eee;
   background: rgba(248, 247, 216, 0.7)!important;
}
.container a i{
   font-size: 40px;
}
.container{
   max-width: 1200px;
   margin:0 auto;
   padding:3rem 2rem;
}

.container .title{
   font-size: 3.5rem;
   color:#444;
   margin-bottom: 3rem;
   text-transform: uppercase;
   text-align: center;
}

.container .products-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap:2rem;
}

.container .products-container .product{
   text-align: center;
   padding:3rem 2rem;
   /* background: #fff; */
   background: #ffd35e91;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   outline: .1rem solid #ccc;
   outline-offset: -1.5rem;
   cursor: pointer;
}

.container .products-container .product:hover{
   outline: .2rem solid #222;
   outline-offset: 0;
}

/* .container .products-container .product .image {
  height: 25rem;
  max-width: 100%;
} */

.container .products-container .product .image img{
   height: 18rem;
   max-width: 100%;
}

.container .products-container .product:hover .image img{
   transform: scale(.9);
}

.container .products-container .product .description h3{
   padding:.5rem 0;
   font-size: 2rem;
   color:#444;
}

.container .products-container .product:hover .description h3{
   color:#27ae60;
}

.container .products-container .product .description .price{
   font-size: 2rem;
   color: red;
   font-weight: bold;
   /* color:#444; */
}

.products-preview{
   position: fixed;
   top:0; left:0;
   min-height: 100vh;
   width: 100%;
   background: rgba(0,0,0,.8);
   display: none;
   align-items: center;
   justify-content: center;
}

.products-preview .preview{
   display: none;
   padding:2rem;
   text-align: center;
   background: #fff;
   position: relative;
   margin:2rem;
   width: 40rem;
}

.products-preview .preview.active{
   display: inline-block;
}

.products-preview .preview img{
   height: 30rem;
}

.products-preview .preview .fa-times{
   position: absolute;
   top:1rem; right:1.5rem;
   cursor: pointer;
   color:#444;
   font-size: 4rem;
}

.products-preview .preview .fa-times:hover{
   transform: rotate(90deg);
}

.products-preview .preview h3{
   color:#444;
   padding:.5rem 0;
   font-size: 2.5rem;
}

.products-preview .preview .stars{
   padding:1rem 0;
   font-size: 1.7rem;
}

.products-preview .preview .stars i{
   color:#27ae60;
}

.products-preview .preview .stars span{
   color:#999;
}

.products-preview .preview p{
   line-height: 1.5;
   padding:1rem 0;
   font-size: 1.6rem;
   color:#777;
}

.products-preview .preview .price{
   padding:1rem 0;
   font-size: 2.5rem;
   color:#27ae60;
}

.products-preview .preview .buttons{
   display: flex;
   gap:1.5rem;
   flex-wrap: wrap;
   margin-top: 1rem;
}

.products-preview .preview .buttons a{
   flex:1 1 16rem;
   padding:1rem;
   font-size: 1.8rem;
   color:#444;
   border:.1rem solid #444;
}

.products-preview .preview .buttons a.cart{
   background: #444;
   color:#fff;
}

.products-preview .preview .buttons a.cart:hover{
   background: #111;
}

.products-preview .preview .buttons a.buy:hover{
   background: #444;
   color:#fff;
}


@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   .products-preview .preview img{
      height: 25rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

  .container .products-container .product {
      display: grid;
      grid-template-columns: auto 1fr;
   }

  .container .products-container .product .image img {
     height: 14rem;
     max-width: 100%;
  }

  .container .products-container .product .description {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .container .products-container .product .description .price {
    border: 2px solid gray;
    display: block;
    width: 135px;
    margin: auto;
    border-radius: 7px;
    font-weight: 600;
    color: #2440da;
  }

  .container .products-container .product .image {
    border-right: 1px solid gray;
    width: 120px;
  }

  hr {
    height: 2px;
    background-color: rgba(211, 211, 211, 0.704);
  }

  .title {
    margin-top: 30px;
  }
}

/* Top Button */

.top-button{
   position: fixed;
   bottom: 2%;
   right: 2%;
   cursor: pointer;
   z-index: 1;
}
.top-button i{
   color: rgb(240, 156, 0);
   font-size: 3rem;
   z-index: 2;
}

@media only screen and (max-width: 700px) {
   .top-button{
       bottom: -1.5%;
       right: 45%;
   }
   .top-button i{
       font-size: 2rem;
   }
}

/* Top button */

/* Landing */

.landing-background {
   position: relative;
   margin-top: -1px!important;
}

.landing-background img {
   height: 100%;
}

.layer {
   background-color: rgba(248, 247, 216, 0.7);
   position: absolute;
   top: 2px;
   left: 0;
   width: 100%;
   height: 100%;
}

/* End Landing */


/* Navrbar */

nav {
   background: #cdf724;
   height: 80px;
   width: 100%;
}

label.logo {
   color: white;
   font-size: 35px;
   line-height: 80px;
   padding: 0 100px;
   font-weight: bold;
}

nav ul {
   float: right;
   margin-right: 20px;
}

nav ul li{
   display: inline-block;
   line-height: 80px;
   margin: 0 5px;
}

nav ul li a{
   color: white;
   font-size: 17px;
   padding: 7px 13px;
   border-radius: 3px;
   text-transform: uppercase;
}

/* a.active,a:hover {
   background: #1b9bff;
   transition: .5s;
} */

.checkbtn {
   font-size: 30px;
   color: white;
   float: right;
   line-height: 80px;
   margin-right: 40px;
   cursor: pointer;
}

#check {
   display: none;
}

@media (max-width: 952px){
   label.logo {
       font-size: 30px;
       padding-left: 50px;
   }
   nav ul li a{
       font-size: 16px;
   }
}

@media (max-width: 858px){
   .checkbtn{
       display: block;
   }
   ul {
       position: fixed;
       width: 100%;
       height: 100vh;
       background: #2c3e50;
       top: 80px;
       left: -100%;
       text-align: center;
       transition: all .5s;
   }
   nav ul li{
       display: block;
       margin: 50px 0;
       line-height: 30px;
   }
   nav ul li a{
       font-size: 20px;
   }
   /* a:hover,a.active{
       background: none;
       color: #0082e6;
   } */
   #check:checked ~ ul{
       left: 0;
   }
}

@media (max-width: 600px) {

}

/* End Navrbar */

/* Footer */

/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700); */

/* * {
  font-family: Open Sans;
} */

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
   font-size: 30px;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}


.hyper-link  {
   display: grid;
   grid-template-columns: auto auto auto auto auto;
   grid-gap: 5px;
   text-align: center; 
   margin: 25px;
   padding: 15px;
}

.hyper-link .box {
   /* background-color: lightgray; */
   /* border: 2px solid gray; */
   background-color: #eaff853d;
   border: 2px solid #80808066;
   border-radius: 10px;
   margin: 2px;
   padding: 5px;
}

.hyper-link .box .txt-box span {
   font-size: 15px;
   background-color: white;
   padding: 3px;
   border: 1px solid white;
   border-radius: 3px;
}

.hyper-link .box .icon-box img {
   width: 64px;
}

.hyper-link .box .icon-box a:hover {
   background: transparent;
}

/* Test Nav */

.test-nav {
   height: 60px;
   background-color: yellowgreen;

}

/* End Test Nav */

/* Hero Start */
.text-uppercase {
   font-size: 25px;
}

h1.text-uppercase {
   font-size: 35px;
}

.text-start span {
   font-size: 15px;
}
/* End Hero Start */

.top-button {
   border: 2px solid gray;
   border-radius: 4px;
   padding: 3px;
   background-color: white;
}

.top-button i {
   color: #FFD330;
}

.title {
   background-color: #ff000085;
   width: fit-content;
   padding: 9px;
   border: 1px solid black;
   border-radius: 20px;
   margin: auto;
}

@media (max-width: 600px) {
   .navbar-toggler {
      display: none;
   }

   nav a {
      margin: auto!important;
   }

   marquee {
      font-size: 20px;
   }

   .container-fluid .container .row h1.text-white {
      font-size: 25px;
   }
}

@media(max-width: 1025px) {
   .navbar-toggler {
      display: none;
   }
   nav a {
      margin: auto!important;
   }

   marquee {
      font-size: 20px;
   }
}


/* New Update */

.row-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 10px;
   /* background-color: #2196F3; */
   padding: 10px;
 
 }
         
 .row-container .row-food {
 background-color: rgba(255, 255, 255, 0.8);
   text-align: center;
   padding: 20px 0;
   font-size: 30px;
 }
 
         
 @media (max-width: 992px) {
     .row-container {  
       grid-template-columns: auto auto;
       /* gap: 3px; */
   }
 }  

 .grid-container-last {
   display: grid;
   grid-template-columns: 1fr 1fr; /* Two columns with equal width */
   grid-gap: 10px; /* Gap between grid items */
 }
 
 .item-last {
   background-color: #f1f1f1;
   padding: 10px;
 }
/* Last Update */
.bg-position{
   height: 96px;
}

.text-dark{
   font-size: 13px;
}

/* .footer{
   
   background-color: red;
   text-align: center;
   color: white;
   position: relative;
   bottom: -119px;
   height: 25px;

} */
/* .footer{
   
   background-color: red;
   text-align: center;
   color: white;
   position: relative;
   bottom: -119px;
   height: 25px;

} */